
# token should be same for Master-Workers use something long above 20 chars , to avoid conflicts
token=
# transferEncryptToken should be 32 characters long
transferEncryptToken=

# LOG_LEVEL=off
LOG_LEVEL=info
# LOG_LEVEL=warn
# LOG_LEVEL=error
# LOG_LEVEL=fatal
#LOG_LEVEL=debug
